<?xml version="1.0" encoding="utf-8"?>
<e107Plugin name="GTranslate" lan="" version="1.1" date="2025-03-13" compatibility="2.3" installRequired="true" >
	<author name="Jimako" url="https://www.e107sk.com/" />
	<summary lan="">Translate AI Multilingual Solutions</summary>
	<description lan="">Translate your website and make it multilingual</description>
	<keywords>
		<word>language</word>
		<word>content</word>
		<word>gtranslate</word>
	</keywords>
	<category>tools</category>
	<copyright>Copyright 2010 - 2025 GTranslate</copyright>
	<adminLinks>
		<link url="admin_config.php" description="" icon="images/gt_logo.svg" iconSmall="images/gt_logo.svg" icon128="images/gt_logo.svg" primary="true" >LAN_CONFIGURE</link>
	</adminLinks>
	<pluginPrefs>
		<pref name='widget_look'></pref>
		<pref name='float_position'></pref>
		<pref name='position'></pref>
		<pref name='source_lang'></pref>
		<pref name='target_lang'></pref>
		<pref name='enable_cdn'>1</pref>
		<pref name='url_structure'></pref>
		<pref name='select_language_label'></pref>
		<pref name='native_language_names'>1</pref>
		<pref name='detect_browser_language'>0</pref>
		<pref name='color_scheme'></pref>
		<pref name='globe_size'></pref>
		<pref name='flag_size'></pref>
		<pref name='flag_style'></pref>
		<pref name='float_switcher_open_direction'></pref>
		<pref name='switcher_open_direction'></pref>	
		<pref name='alt_flags'></pref>			
	</pluginPrefs>
</e107Plugin>
